* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f0ea;
    font-family: "Cabin", sans-serif;
    color: #798252;
    font-weight: 400;
    padding: 2rem;
}

h3 {
    font-size: 24px;
    padding: 1rem;
    text-align: center;
    background-color: #331f19;
}

h4 {
    margin: 10px 0 0 0;
}

p {
    font-size: 16px;
    margin: 10px 0 0 0;
}

/* Box Model */
.box-model {
    width: 200px;
    padding: 10px;
    border: 5px solid black;
    margin: 10px auto;
    background-color: lightblue;
    text-align: center;
}

/* Flexbox */
.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 10px;
}

.flex-item {
    width: 50px;
    height: 50px;
    background-color: coral;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 10px;
    background-color:  lightgray;
    padding: 10px;
}

.grid-item {
    background-color: coral;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

/* Pseudo-classes */
.btn-hover {
    padding: 10px 20px;
    background-color: gray;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-hover:hover {
    background-color: black;
}

/* Pseudo-elementos */
.text-shadow::before {
    content: "🔥 ";
}

.text-shadow {
    font-size: 20px;
    text-shadow: 2px 2px 5px gray;
}
